altgraph==0.17
asgiref==3.2.5
attrs==19.3.0
autobahn==20.4.3
Automat==20.2.0
bitfinex==0.2.6
bitfinex-tencars==0.0.3
bitfinex-v2==1.7.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cryptography==2.8
cycler==0.10.0
Django==3.0.4
django-cors-headers==3.2.1
djangorestframework==3.11.0
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Cors==3.0.8
gunicorn==20.0.4
httpretty==1.0.2
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
kiwisolver==1.2.0
lxml==4.4.2
macholib==1.14
MarkupSafe==1.1.1
matplotlib==3.2.1
mysql==0.0.2
mysql-connector-python-rf==2.2.2
mysqlclient==1.4.6
numpy==1.18.1
oauthlib==3.1.0
openpyxl==3.0.3
pandas==0.25.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyHamcrest==2.0.2
PyInstaller==3.6
pymongo==3.10.1
PyMySQL==0.9.3
pynput==1.6.8
pyobjc-core==6.2
pyobjc-framework-Cocoa==6.2
pyobjc-framework-Quartz==6.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
selenium==3.141.0
service-identity==18.1.0
simple-salesforce==0.74.3
six==1.14.0
sqlparse==0.3.1
tbselenium==0.4.2
ts3==1.0.11
tweepy==3.8.0
Twisted==20.3.0
txaio==20.4.1
urllib3==1.25.8
Werkzeug==1.0.1
xlrd==1.2.0
zope.interface==5.1.0
